################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/myBookStore/myBookStore/obj/Release/net5.0
